body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f9f9f9;
}


.producto {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
}


button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}